
.flex-container {
    margin-right: 15px;
    margin-left: 20px;
    width: 95%;
}

.flex-container>div {
    width: 100%;
    margin: 5px;
    border-radius: 3px;
    background-color: #8ebf42;
}

.top-right {
    position: absolute;
    opacity: 0.8;
    z-index: 9;
    right: 10px;
    top: 0px;
}

.confirmation {
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 2%;
    position: relative;
}

.button {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 26px;
    color: #FFF;
    background-color: #0f868c;
    border-radius: 4px;
    border: 1px solid #0f868c;
    text-align: center;
    width: 100%;
}
